* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Arial", sans-serif;
}

header {
    background-color: lightblue;
}

.container-full {
    max-width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-20 {
    width: 20%;
    border: 2px dashed black;
    background-color: goldenrod;
}

.col-60 {
    width: 60%;
    border: 2px dashed black;
    background-color: goldenrod;
}

.col-100 {
    width: 100%;
    height: 400px;
    background-color: pink;

}

#main-menu {
    list-style-type: none;
    text-align: center;
}

#main-menu li {
    display: inline-block;
}

.content {
    padding: 15px 10px;
}

.login {
    text-align: right;
}

.container-sm {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px 0;
}

.bg-blue {
    background-color: blue;
}

.bb-lb {
    border-bottom: 3px solid lightblue;
}